@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@800&display=swap');
* {
    background-color: white, #212529;
    color: black, white;
    font-family: 'Shippori Mincho B1', serif;
}

*::-webkit-scrollbar {
    display: none;
}